header{
    background-color: #263d36;
    background-image: url("https://www.altoromexico.com/cmsimgnoticias/foto_noticia33477.jpg");
    background-position-y:center;
    background-repeat: no-repeat;
    background-size:cover;
    
    padding: 17%;
    text-align: center;
}
body{
    background-color: rgb(199,198,198);
    text-align: justify;
    margin: 0;
}
main{
    background-color: rgb(235,234,224);
    color: rgb(85,85,85);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 0px;
    margin: 0 auto;

    max-width: 50em;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
}

footer{
    background-color: rgb(116, 114, 114);
    line-height: 48px;
    text-align: center;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
}

h5{

    font-weight: bolder;
}

td{
    font-size: small;
}

th{
    font-size: xx-large;
}

table1{
    font-size: x-large;
    width: 80%;
}

#table1{
    display: block;
    margin-left:27%;
    margin-right: 27%;
    font-size: x-large;
    width: 80%;
}

#quote{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    width: 80%;
    
}

#logo{
    display:inline-block;
    height: 150px;
    vertical-align: top;
    width: auto;
}

#image1{
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    height: 200px;
    width: auto;
}

#image2{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#autor{
    margin-left: 80px;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

.pregunta{
    color: rgb(92,79,62);
    font-size: x-large;

}
